@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\000039}}
.badge-price {
  color: white !important;
  padding: 1px 4px !important;
  border-radius: 2px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000315}}
.badge-price--up {
  background-color: #66af52;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000319}}
.badge-price--down {
  background-color: #ed5050;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000323}}
.list-card--up {
  background-color: #a5e581 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000327}}
.list-card--up.moved-up {
  background: linear-gradient(to bottom, #66af52 4.5px, #a5e581 4.5px) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000331}}
.list-card--up.moved-down {
  background: linear-gradient(to top, #66af52 4.5px, #a5e581 4.5px) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000335}}
.list-card--down {
  background-color: #fd8f8f !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000339}}
.list-card--down.moved-up {
  background: linear-gradient(to bottom, #ed5050 4.5px, #fd8f8f 4.5px) !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rob\/Projects\/TrelloShares\/app\/styles\/main\.scss}line{font-family:\0000343}}
.list-card--down.moved-down {
  background: linear-gradient(to top, #ed5050 4.5px, #fd8f8f 4.5px) !important;
}
